$bg-color-1: #13131A;
$bg-color-2: rgb(34, 34, 44); // changed
$bg-color-3: #1C1C24;
$bg-color-4: #171725;
$text-color-1: white;
$text-color-2: #B5B5BE;
$text-color-3: #92929D;
$line-color: #292932;
$border-radius-1: 20px;
$border-radius-2: 15px;

.videoedit-page {
  background-color: $bg-color-1;
  //background-color: purple;
  color: $text-color-1;

  .first-videoedit-container { // affects navbar
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    padding: 0;

    .second-videoedit-container {
      height: 100vh;
      //text-align: left;
      //background-color: $bg-color-1;
      color: $text-color-1;
      display: flex;
      flex-direction: column;
      margin: auto;

      .videoedit-page-title {
        margin-top: 2rem;
        font-weight: bold;
        color: #ececec;
        font-size: 16px;
      }
    }
  }

  .please-login {
    color: #e1e1e1;
  }

  h2 {
    color: #e1e1e1;
    text-align: center;
  }

  .videoedit-options-root-container {
    position: relative;
    display: flex;
    margin-top: 2rem;
    flex-direction: column;
    color: $text-color-1;
    height: 46rem;
    //height: 43rem;
    width: 46rem;
    border: 0 #e1e1e1;
    border-radius: 1.5rem;
    background-color: rgb(30, 30, 40);

    .videoedit-options-container-one {
      //height: 100%;
      //width: 100%;
      margin-bottom: 2rem;

      .videoedit-options-container-span-box {
        margin: 2rem 1rem 1rem 1rem;
        padding: 0 2rem 0 2rem;
        display: flex;
        justify-content: space-between;

        .videoedit-options-pick-thumb {
          margin-top: 0.4rem;
          font-size: 0.9rem;
          font-weight: bold;
          text-align: left;
        }

        .videoedit-options-id-video {
          display: flex;
          flex-direction: row;
          font-size: 0.7rem;
          text-align: right;
          align-items: center;

          .videoedit-fingerprint {
            font-size: 1rem;
            margin-right: 0.6rem;
          }

          #videoedit-fingerprint-text {
            padding-right: 0.4rem;
          }

          #videoedit-fingerprint-box {
            display: flex;
            align-items: center; // h
            justify-content: center; // w
            margin-top: 1.7px;
            padding-top: 0.3px;
            background-color: #020d1c;
            color: #0d6efd;
            height: 1.5rem;
            width: 6rem;
            border-radius: 1rem;

            #videoedit-fingerprint-id {
              justify-self: center;
            }
          }
        }
      }

      .videoedit-options-instructions {
        padding: 0 3rem 1rem 3rem;
        font-size: small;
        text-align: left;
        color: #5e606c;
      }

      .videoedit-options-photos-container {
        display: flex;
        margin: 0 2rem 0 2rem;
        justify-content: space-evenly;
        padding: 0;

        .videoedit-choose-thumbnail {
          width: 9rem;
          height: 6rem;
          background-size: cover;
          background-position: center;
          border-radius: 10px;
          margin: 0.5rem;
          position: relative;
          display: inline-block;

          .thumb-hovertext {
            visibility: hidden;
            width: 80%;
            background-color: #1c1c24;
            color: grey;
            text-align: center;
            padding: 5px;
            margin-bottom: 8px;
            border-radius: 40px;
            border: 1px solid rgba(73, 73, 73, 0.35);
            font-size: smaller;
            position: absolute;
            z-index: 1;

            bottom: calc(100% + 6px);
            left: 50%;
            margin-left: -40%; /* Use half of the width (80%/2 = 40%), to center the tooltip */
          }

          .thumb-hovertext::after {
            content: "";
            position: absolute;
            //top: 100%; /* At the bottom of the tooltip */
            left: 50%;
            margin-left: -5px;
            border-width: 10px;
            border-style: solid;
            border-color: rgba(73, 73, 73, 0.35) transparent transparent transparent;
          }

          .thumb-hovertext::after:hover {
            visibility: visible;
          }
        }
      }

      .selected-thumbnail {
        border: 3px solid #0d6efd;
      }
    }

    .videoedit-options-container-two {
      display: flex;
      flex-direction: column;
      margin: auto;
      width: 100%;
      height: 100%;


      .videoedit-options-data-info {
        padding: 0 3rem 0 3rem;
        font-size: small;
        text-align: left;
      }

      .videoedit-form-container {
        display: flex;
        flex-direction: column;

        .videoedit-options-title-input {
          float: left;
          clear: left;
          margin: 0 0 0 3rem;
          background-color: #13131A;
          color: white;
          cursor: text;
          border: 0;
          height: 1.8rem;
          width: 19.3rem;
          border-radius: 0.4rem;
          text-align: left;

          &:focus {
            outline-width: 0;
          }
        }

        #videoedit-options-description-input {
          //float: left;
          //clear: left;
          background-color: #13131A;
          color: white;
          cursor: text;
          border: 0;
          height: 12rem;
          width: 40rem;
          border-radius: 0.5rem;
          //text-align: start;
          //clear: left;
          //margin: 0 0 0 3rem;
          //text-align: left;
          margin: 0 0 0 3rem;
          padding: 9px 0 0 0;
          resize: none;
          font-family: Poppins, sans-serif;
          font-size: 13.5px;

          &::placeholder {
            color: #656565;
          }

          &:focus {
            outline-width: 0;
          }
        }

        .videoedit-final-container {
          //display: flex;
          //flex-direction: column;
          //margin: auto;
          width: 100%;
          height: 50%;

          .videoedit-tags-title {
            margin-left: 3rem;
            margin-top: 2rem;
            font-size: small;
            text-align: left;
          }

          .videoedit-options-tags-box {
            display: flex;
            flex-direction: row;
            font-size: small;
            text-align: left;
            padding: 1rem 3rem 0 3rem;

            .videoedit-tags {
              display: flex;
              flex-direction: column;

              #videoedit-tags-input {
                margin: 0 0 .7rem 0;
                background-color: #13131A;
                color: white;
                cursor: text;
                border: 0;
                border-radius: 0.4rem;
                text-align: left;
                height: 1.5rem;
                width: 12rem;
                float: left;
                clear: left;

                &:focus {
                  outline-width: 0;
                }
              }

              #videoedit-options-tag-submit {
                align-items: center; // h
                justify-content: center; // w
                margin: 0.02rem 0 0 .2rem;
                //width: 1.5rem;
                //height: 1.5rem;
                //border-radius: 2rem;
                background-color: rgba(107, 106, 106, 0);
                color: white;
                cursor: pointer;
                border: 0;
                font-size: 22px;
                &:hover {
                  color: #0d6efd;
                }
              }

              .videoedit-options-tags-list {
                display: flex;
                flex-direction: row;
                color: #0d6efd;
                font-size: 0.85rem;
                text-align: center;
                align-items: center;
                clear: both;

                .video-edit-each-tag {
                  padding-left: 5px;
                  background-color: #292932;
                  border-radius: 2rem;
                  //margin: 0 .3rem 0 .1rem;
                  margin: auto;
                  height: 1rem;
                  width: auto;

                  &:hover {
                    background-color: #3f3f3f;
                    color: #bbbbbb;
                  }
                  .video-edit-each-tag-x {
                    //position: absolute;
                    //margin-left: 4px;
                    font-size: 10px;
                    color: white;
                    padding: 0 5px 0 5px;
                    margin-right: 2px;
                    &:hover {
                      //color: #c00000;
                      color: white;
                    }
                  }
                }

              }
            }
          }
        }

        #videoedit-options-submit {
          position: absolute;
          margin-bottom: -2.7rem;
          margin-left: 33rem;
          width: 7rem;
          height: 2rem;
          align-self: end;
          background-color: #0d6efd;
          color: white;
          cursor: pointer;
          border: 0;
          border-radius: 2rem;
        }
      }
    }
  }
}