.loginMain {
  min-height: 100vh;
  background-color: black;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 0.5rem;

  input {
    outline: none;
  }

  .formMasterLog {
    margin: 80px auto;
    width: 100%;
    max-width: 420px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    background-color: #1C1C23;
    color: white;
    border-radius: 1.5rem;
    align-items: center;


    .formLog {

    }

    .passDiv{
      width: 330px;
      height: 50px;
      background-color: black;
      position: relative;
      border-radius: 1rem;
      margin-top: 25px;
      margin-bottom: 25px;
    }
    .passDiv > input{
      flex: 1;
      height: 40px;
      border: none;
      font-size: 18px;
      padding-left: 0px;
      background-color: black;
      color: white;
    }

    .emailDiv {
      width: 330px;
      height: 50px;
      background-color: black;
      position: relative;
      border-radius: 1rem;
      margin-top: 25px;
      margin-bottom: 25px;
    }
    .emailDiv > input{
      flex: 1;
      height: 40px;
      border: none;
      font-size: 18px;
      padding-left: 25px;
      background-color: black;
      color: white;
    }

  }

  .btnLog {
    background-color: #1D6DEB;
    width: 330px;
    height: 50px;
    position: relative;
    border-radius: 1.5rem;
    margin-top: 25px;
    margin-bottom: 25px;
    color: white;
    border: white;
    font-size: 18px;
  }

  .forgotPass {
    font-size: 12px;
    position: absolute;

  }

  a, a:visited {
    color: #1D6DEB;
    text-decoration: none;
    justify-content: space-around;
  }

  .googleDiv {
    display: flex;
    //position: relative;
    align-items: center;
    .googleBtn {
      display: flex;
      flex-direction: row;
      //justify-content: space-between;
      justify-items: auto;
      width: 330px;
      height: 50px;
      position: relative;
      border-radius: 1.5rem;
      margin-top: 25px;
      margin-bottom: 25px;
      border: white;
      font-size: 16px;

    }

    p {
      font-size: 1em;
      margin: auto;
    }

    .googleIcon {
      position: relative;
      width: 22px;
      margin: auto;
    }

  }

}