/******* USER/CHANNEL PAGE STYLE *******/

// Variables:
$bg-color-2: #1C1C24;
$bg-color-3: #171725;
$bg-color-4: #1e5cc3;
$text-color-1: white;
$text-color-2: #B5B5BE;
$text-color-3: #92929D;
$text-color-4: rgb(255, 255, 255);
$line-color: #292932;
$border-radius-1: 20px;
$border-radius-2: 15px;
$visibility-bg: #811020;
$visibility-hover-bg: #ff0021;
$mobile: 600px;
$tablet: 950px;
$drop-shadow-color: black;

.user-page-container {
  color: $text-color-1;
  text-align: left;
  padding: 4.5em 1.5em 2em;
  margin: 0 0 0 15em;
  display: flex;
  flex-direction: column;

  h1 {
    font-size: 1em;
    font-weight: bold;
  }

  h2 {
    font-size: .75em;
    margin-top: 2em;
    margin-bottom: 2em;
  }

  p {
    font-size: .5em;
  }

  hr {
    width: 100%;
    border: $line-color .5px solid;
  }

  .edit-icon {
    background-color: $visibility-bg;
    padding: .5em;
    border-radius: 50%;
    margin-left: .75em;
    width: .75em;
    height: .75em;

    &:hover {
      background-color: $visibility-hover-bg;
      transform: scale(1.1);
      transform-origin: center;
      transition: transform 0.5s cubic-bezier(0.34, 1.56, 0.64, 1);
      cursor: pointer;
    }
  }

  .title-container {
    display: flex;
    //align-items: center;
    align-items: flex-start;
    flex-direction: column;
    .uploadvideo-button{
      margin: 1rem 0 2.5rem 0;
      height: 2rem;
      background-color: $bg-color-4;
      color: white;
      cursor: pointer;
      border: 0;
      border-radius: 2rem;
      &:hover {
        background-color: #024e9a;
      }
    }
  }

  .banner-container {
    display: flex;
    flex-direction: column;
    position: relative;

    .banner {
      overflow: hidden;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      border-top-left-radius: $border-radius-1;
      border-top-right-radius: $border-radius-1;
      height: 10em;
      width: 100%;
    }

    .edit-banner-container {
      position: relative;
      height: 10em;
      width: 100%;
      margin-top: -10em;

      .edit-banner {
        position: absolute;
        background-color: rgba(255, 255, 255, 0.15);
        border-top-left-radius: $border-radius-1;
        border-top-right-radius: $border-radius-1;
        height: 10em;
        width: 100%;
      }
    }

    .banner-overlay {
      position: absolute;
      background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 80%, rgba(19, 19, 26, 255) 100%);
    }

    .admin-button {
      display: flex;
      position: absolute;
      background-color: $visibility-bg;
      border:$visibility-hover-bg solid 1px;
      border-radius: $border-radius-2;
      width: 4.5em;
      right: 2.5em;
      top: 4em;
      p {
        margin: .4em auto;
        font-size: .85em;
      }
    }

    .edit-banner-file-container {
      position: absolute;
      width: 100%;
      height: 10em;

      .edit-file-button {
        display: flex;

        .edit-file-icon {
          display: flex;
          font-size: 2em;
          color: $text-color-4;
          margin: 2em auto auto;
          filter: drop-shadow(0 0 0.75rem $drop-shadow-color);
        }
      }
    }
  }

  .details-container-1 {
    display: flex;
    justify-content: space-between;

    .edit-button {
      position: relative;
      display: flex;
      font-size: .5em;
      background-color: $bg-color-3;
      width: 7em;
      border: $text-color-3 solid 1px;
      border-radius: $border-radius-2;
      padding: .5em;
      margin-top: -1.25em;
      margin-left: 1em;
      transition: transform 0.5s cubic-bezier(0.34, 1.56, 0.64, 1);

      p, svg {
        margin: auto;
        color: $text-color-3;
      }

      &.active, &:hover {
        transform: scale(1.2);
        cursor: pointer;
        border: $text-color-1 solid 1px;

        p, svg {
          color: $text-color-1;
        }
      }

      &.active {
        background-color: $bg-color-4;
      }
    }

    .details-container-2 {
      width: 60%;

      p {
        line-height: 1.5;
      }

      .user-name-container {
        display: flex;
        align-items: center;
      }
    }

    .details-container-3 {
      display: flex;

      .statistics-container {
        display: flex;
        width: 10em;
        margin: 0;

        .statistic {
          display: flex;
          flex-direction: column;
          text-align: center;
          margin: 1em auto auto;

          h2 {
            font-size: 1em;
            margin: .5em 0 0;
          }

          h3 {
            font-size: .35em;
            margin: 0;
            color: $text-color-2;
          }
        }
      }

      .user-avatar-container {
        position: relative;
        margin-right: 1em;

        .user-avatar {
          position: relative;
          overflow: hidden;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
          height: 7em;
          width: 7em;
          border-radius: 50%;
          border: solid white 3px;
          margin: -3.5em auto auto;
        }

        .edit-avatar-file-container {
          position: absolute;
          width: 100%;
          height: 7.5em;
          margin-top: -7.5em;

          .edit-file-button {
            display: flex;

            .edit-file-icon {
              display: flex;
              font-size: 2em;
              color: $text-color-4;
              margin: 1.25em auto auto;
              filter: drop-shadow(0 0 0.75rem $drop-shadow-color);
            }
          }
        }
      }
    }
  }

  .achievements-container {
    display: flex;
    flex-direction: column;
    background-color: $bg-color-2;
    border-radius: $border-radius-1;
    padding: 1em;

    .achievements-title {
      margin: .5em 0;
    }

    .unlocked-container, .locked-container {
      display: flex;
      flex-wrap: wrap;
    }
  }

  .video-container, .playlist-container {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(auto-fill, 20em);
  }

  .details-container-4 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2em;

    .details-title {
      margin-top: 0.4em;
    }

    .subscriptions-container {
      width: 35%;

      .subscriber-container {
        display: flex;
        text-decoration: none;
        color: $text-color-1;
        align-items: center;
        margin: 0 0 .5em;

        .subscriber-avatar-container {
          overflow: hidden;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
          height: 2em;
          width: 2em;
          border-radius: 50%;
          align-content: start;
        }

        h5 {
          margin: 0 0 0 1em;
          font-weight: normal;
          font-size: .75em;
        }
      }
    }

    .about-container {
      background-color: $bg-color-2;
      width: 35%;
      border-radius: $border-radius-2;
      padding: 1em;

      p {
        font-size: .65em;

        span {
          font-weight: bold;
        }
      }
    }
  }
}

/*************** MOBILE ****************/
@media only screen and (max-width: $mobile) {
  .user-page-container {
    margin: 0;

    .details-container-1 {
      display: flex;

      .details-container-3 {
        display: flex;
        flex-direction: column;

        .user-avatar-container {
          order: 1;
        }

        .statistics-container {
          order: 2;
        }
      }
    }
  }
}

/*************** TABLET ****************/
@media only screen and (max-width: $tablet) {
  .user-page-container {

    .details-container-1 {
      display: flex;
      justify-content: space-between;

      .details-container-3 {
        display: flex;
        flex-direction: column;

        .user-avatar-container {
          order: 1;
          margin: 0 auto;
        }

        .statistics-container {
          order: 2;
          margin: 0 auto;
        }
      }
    }

    .details-container-4 {
      flex-direction: column;
      margin: 0;

      .details-title {
        margin-top: 2em;
        margin-bottom: 2em;
      }

      .subscriptions-container, .about-container {
        width: 100%;
      }
    }
  }
}