$bg-color-1: #13131A;
$text-color: white;
$border-radius-1: 10px;
$line-color: #292932;
$mobile: 600px;
$breakpoint: 1048px;

.report-page {
  display: flex;
  background-color: $bg-color-1;
  padding: 4.5em 1.5em 2em;
  margin: 0 0 0 15em;
  justify-content: center;
  .report-page-container{
    padding: 15em 0 0 0;
    width: 65%;
    color:$text-color;

    .thankyou-button-report {
      margin-top: 2em;
      height: 2rem;
      width: 11rem;
      border: 0;
      background-color: #1e5cc3;
      border-radius: 2rem;
      color: $text-color;
      cursor: pointer;
      justify-content: center;
      position: relative;
      top: .2px;
      font-size: 0.9rem;
      &:hover {
        background-color: #0e45a1;
      }
    }
  }
}