$bg-color-2: rgb(28, 28, 36);
$bg-color-3: #1A2336;
$text-color-1: white;
$text-color-3: #ADADB6;
$border-color-1: #1D6DEB;
$border-radius-1: 10px;
$border-color-1: #292932;
$mobile: 600px;

.navbar-container {
  width: 13em;
  height: 100%;
  background-color: $bg-color-2;
  position: fixed;
  z-index: 1;
  margin: 0;
  padding: 4em 1em 1em;
  //transition: width 0.5s cubic-bezier(0.34, 1.56, 0.64, 1);

  .input-search-container {
    display: none;
  }

  .user {
    text-align: left;
    display: flex;
    background-color: $bg-color-3;
    border: solid #1D6DEB 1px;
    border-radius: $border-radius-1;
    padding: .5em;
    width: 180px;
    position: fixed;

    .avatar {
      overflow: hidden;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      height: 2em;
      width: 2em;
      border-radius: 50%;
      margin-right: .5em;
    }

    h3 {
      font-size: 0.65em;
      color: $text-color-1;
      margin: 0;
      font-weight: bold;
    }

    h4 {
      font-size: 0.65em;
      color: $text-color-3;
      margin: 0;
      font-weight: lighter;
    }
  }

  .menu-container {

    .ul-1 {
      margin-top: 4em;
    }

    .ul-2 {
      position: fixed;
      bottom: 1em;
    }

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      position: fixed;
      font-size: 0.65em;
      text-align: left;

      .option-container {
        margin-top: 2em;
        align-items: center;

        svg {
          color: $text-color-3;
          margin: 0 1em 0 0;
          width: 25px;
        }

        .link {
          display: flex;
          text-decoration: none;
          color: $text-color-3;
          margin: 0;

          &.active, &:hover {
            color: $text-color-1;
            cursor: pointer;

            svg {
              color: $text-color-1;
            }
          }
        }
      }
    }
  }

  .tags {
    display: flex;
    flex-direction: column;
    vertical-align: middle;
    text-align: left;
    color: $text-color-3;
    position: fixed;
    width: 200px;
    margin-top: 15em;

    h3 {
      text-transform: uppercase;
      font-weight: normal;
      font-size: .75em;
      margin: 0;
    }

    .tags-container {
      display: flex;
      flex-wrap: wrap;
      text-align: left;

      p {
        color: $text-color-1;
        font-size: .65em;
        margin-right: .5em;
        border: solid $border-color-1 1px;
        padding: .24em;
      }
    }
  }
}

@media only screen and (max-width : $mobile) {
  .navbar-container {
    display: block;

    &.hidden {
      display: none;
    }

    .input-search-container {
      display: flex;
    }
  }
}



