$bg-color-1: #13131A;
$bg-color-2: rgb(34, 34, 44); // changed
$bg-color-3: #1C1C24;
$bg-color-4: #171725;
$text-color-1: white;
$text-color-2: #B5B5BE;
$text-color-3: #92929D;
$line-color: #292932;
$border-radius-1: 20px;
$border-radius-2: 15px;

.video-upload-page {
  background-color: $bg-color-1;
  //background-color: purple;
  color: $text-color-1;

  .first-upload-container { // affects navbar
    display: flex;
    flex-direction: row;
    //height: 100%;
    //width: 100%;
    padding: 0;

    .second-upload-container {
      flex: 1;
      height: 100vh;
      //text-align: left;
      //background-color: $bg-color-1;
      color: $text-color-1;
      //display: flex;
      //flex-direction: column;
      //padding: 10rem 0 30rem 28.5rem;

      .video-upload-page-title {
        margin-top: 6rem;
        font-weight: bold;
        color: #ececec;
        font-size: 16px;
        margin-bottom: 3rem;
      }

      .third-upload-container {
        position: relative;
        display: flex;
        margin: auto;
        background-color: $bg-color-1;
        //background-color: pink;
        color: $text-color-1;
        height: 18rem;
        width: 26rem;
        //max-width: 100%;
        //text-align: center;
        //position: relative;

        #input-upload { // DRAG AREA
          position: absolute;
          //background-color: $bg-color-1;
          //background-color: red;
          color: $text-color-1;
          z-index: 1;
          //height: 18rem;
          //width: 26rem;
          width: 100%;
          height: 100%;
          //max-width: 100%;
          //text-align: center;
          //position: relative;
          //display: none; // to hide
          background-color: rgba(0, 0, 0, 0);
          opacity: 0;
        }

        #label-upload {
          width: 100%;
          height: 100%;
          //width: 35.5%;
          //height: 32%;
          //justify-content: center;
          //margin-bottom: 50rem;
          //height: 18rem;
          //width: 26rem;
          border: dashed 2px #e1e1e1;
          border-radius: 1.5rem;
          //float: left;
          background-color: rgb(30, 30, 40);
          //background-color: $bg-color-1;
          //background-color: blue;
          color: $text-color-1;
        }

        #label-upload:active {
          background-color: #2c3959;
        }

        #label-upload:hover {
          background-color: $bg-color-2;
        }

        .drag-container {
          position: absolute;
          //background-color: purple;
          width: 100%;
          height: 100%;

          .drag-invitation {
            //padding-top: 47px;
            //background-color: yellow;

            .icon-upload {
              padding: 5rem 0 0.5rem 0;
              font-size: 65px;
              color: #ececec;
            }

            #drag-text {
              font-size: 12px;
              color: #9d9d9d;

              #drag-text-one {
                margin-top: 16px;
                margin-bottom: 0;
              }

              #drag-text-two {
                margin-top: 6px;
              }
            }
          }
        }
      }

      .upload-pseudo-button { // it's not a div anymore // TODO: fix this
        //position: relative;
        display: none; // to hide
        //height: -100%;
        width: 100%;
        cursor: pointer;
        background-color: transparent;
        //background-color: red;
        color: white;
      }

      .upload-pseudo-button:hover {
        color: $bg-color-2;
      }

      #drag-area {
        //position: absolute;
        max-width: 100%;
        background-color: blue;
      }

      .please-login {
        color: #e1e1e1;
      }

      h2 {
        color: #e1e1e1;
        text-align: center;
      }

      // horizontal progress bar

      .progress-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        //background-color: red;
        //width: 250px;

        .progress-bar {
          margin-top: 35px;

          width: 60%;
          background-color: #222f46;
          //padding: 1px;
          //border-radius: 2px;

          .progress-bar-fill {
            display: block;
            border-radius: 5px;
            height: 6px;
            background-color: #087ff5;
          }

        }

        .loading-video-text {
          padding-top: 1rem;
          font-size: 12px;
          color: $text-color-2;
        }
      }

      // circular progress bar

      // all of the styles in this file are configurable!

      .CircularProgressbar {
        /*
         * this fixes an issue where the CircularProgressbar svg has
         * 0 width inside a "display: flex" container, and thus not visible.
        */
        width: 20%;
        /*
         * this fixes a centering issue with CircularProgressbarWithChildren:
         * https://github.com/kevinsqi/react-circular-progressbar/issues/94
        */
        vertical-align: middle;
        margin-top: 15%;
        fill: #d6d6d6;
        stroke: #ffffff;
      }

      .CircularProgressbar .CircularProgressbar-path {
        //stroke: #ffffff;
        //stroke: #087ff5;
        stroke: #ffffff;
        fill: #d6d6d6;
        stroke-linecap: round;
        transition: stroke-dashoffset 0.5s ease 0s;
      }

      .CircularProgressbar .CircularProgressbar-trail {
        //stroke: #d6d6d6;
        //stroke: #087ff5;
        stroke: #ffffff;
        fill: #d6d6d6;
        /* Used when trail is not full diameter, i.e. when props.circleRatio is set */
        stroke-linecap: round;
      }

      .CircularProgressbar .CircularProgressbar-text {
        //fill: #3e98c7;
        //fill: #d6d6d6;
        //stroke: #ffffff;
        //font-size: 20px;
        dominant-baseline: middle;
        text-anchor: middle;
      }

      .CircularProgressbar .CircularProgressbar-background {
        fill: #d6d6d6;
        stroke: #ffffff;
      }

      .upload-options-root-container {
        position: relative;
        display: flex;
        margin: auto;
        flex-direction: column;
        color: $text-color-1;
        height: 40rem;
        width: 46rem;
        border: 0 #e1e1e1;
        border-radius: 1.5rem;
        background-color: rgb(30, 30, 40);

        .upload-options-container-one {
          //height: 100%;
          //width: 100%;
          margin-bottom: 2rem;

          .upload-options-container-span-box {
            margin: 2rem 1rem 1rem 1rem;
            padding: 0 2rem 0 2rem;
            display: flex;
            justify-content: space-between;
          }

          .upload-options-instructions {
            padding: 0 3rem 1rem 3rem;
            font-size: small;
            text-align: left;
            color: #545864;
          }

          .upload-options-photos-container {
            display: flex;
            margin: 0 2rem 0 2rem;
            justify-content: space-evenly;
            padding: 0;

            .upload-choose-thumbnail {
              width: 9rem;
              height: 6rem;
              background-size: cover;
              background-position: center;
              border-radius: 10px;
              margin: 0.5rem;
              position: relative;
              display: inline-block;

              .thumb-hovertext {
                visibility: hidden;
                width: 80%;
                background-color: #1c1c24;
                color: grey;
                text-align: center;
                padding: 5px;
                margin-bottom: 8px;
                border-radius: 40px;
                border: 1px solid rgba(73, 73, 73, 0.35);
                font-size: smaller;
                position: absolute;
                z-index: 1;

                bottom: calc(100% + 6px);
                left: 50%;
                margin-left: -40%; /* Use half of the width (80%/2 = 40%), to center the tooltip */
              }

              .thumb-hovertext::after {
                content: "";
                position: absolute;
                //top: 100%; /* At the bottom of the tooltip */
                left: 50%;
                margin-left: -5px;
                border-width: 10px;
                border-style: solid;
                border-color: rgba(73, 73, 73, 0.35) transparent transparent transparent;
              }

              .thumb-hovertext::after:hover {
                visibility: visible;
              }
            }
          }

          .selected-thumbnail {
            border: 3px solid #0d6efd;
          }
        }

        .upload-options-container-two {
          display: flex;
          flex-direction: column;
          margin: auto;
          width: 100%;
          height: 100%;


          .upload-options-data-info {
            padding: 0 3rem 0 3rem;
            font-size: small;
            text-align: left;
          }

          .upload-options-title-input {
            float: left;
            clear: left;
            margin: 0 0 1rem 3rem;
            background-color: #13131A;
            color: white;
            cursor: text;
            border: 0;
            height: 1.8rem;
            width: 19.3rem;
            border-radius: 0.4rem;
            text-align: left;
            &:focus {
              outline-width: 0;
            }
          }

          #upload-options-description-input {
            margin-left: 3rem;
            float: left;
            clear: left;
            background-color: #13131A;
            color: white;
            cursor: text;
            border: 0;
            height: 12rem;
            width: 40rem;
            border-radius: 0.5rem;
            &:focus {
              outline-width: 0;
            }
          }

          .upload-final-container {
            display: flex;
            flex-direction: row;
            width: 100%;

            .upload-options-tags-box {
              font-size: small;
              text-align: left;
              padding: 1rem 3rem 0 3rem;

              .upload-tags {

              }

              #upload-options-submit {
                width: 7rem;
                height: 2rem;
                align-self: end;
                background-color: #026dd5;
                color: white;
                cursor: pointer;
                border: 0;
                border-radius: 2rem;
              }
            }
          }
        }
      }
    }
  }
}