.recoverpw{
  height: 100vh;
  width: 100vw;
  position: fixed;
  display: flex;
  text-align: center;


  min-height: 100vh;
  background-color: black;
  margin: 0;
  box-sizing: border-box;
 // display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 0.5rem;



  .recovercntr{
    margin: 80px auto;
    width: 100%;
    max-width: 420px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    background-color: #1C1C23;
    color: white;
    border-radius: 1.5rem;
    align-items: center;

    .logo{
      margin: 20px 30px 20px 30px;

      img{
        width: 300px;
      }
    }

    .title{
      margin-bottom: 20px;
      h2{
        color: white;
      }
    }

    .formMasterRecPw{
      .email {
        width: 330px;
        height: 50px;
        background-color: black;
        position: relative;
        border-radius: 1rem;
        margin-top: 25px;
        margin-bottom: 25px;
      }
      .email > input{
        flex: 1;
        height: 40px;
        border: none;
        font-size: 18px;
        padding-left: 25px;
        background-color: black;
        color: white;
      }

      .envelope > icon{
          color: var(--icons-color);
          width: 50px;
          height: 15px;
          position: absolute;
          right: -8px;
          top: 14px
        }

      .btnRegister {
        background-color: #1D6DEB;
        width: 330px;
        height: 50px;
        position: relative;
        border-radius: 1.5rem;
        margin-top: 25px;
        margin-bottom: 25px;
        color: white;
        border: white;
        font-size: 18px;
      }



    }

/*    .recover{
      .recover-button{
        background-color: #1D6DEB;
        width: 330px;
        height: 50px;
        position: relative;
        border-radius: 1.5rem;
        margin-top: 25px;
        margin-bottom: 25px;
        color: white;
        border: white;
        font-size: 17px;

        &:hover{
          background-color: #1D6DEB;
        }
      }
    }*/










  }
}