/******* HOME PAGE STYLE *******/

// Variables:
$bg-color-1: #13131A;
$bg-color-2: #1C1C24;
$bg-color-3: rgb(40, 40, 48);
$bg-color-4: #1e5cc3;
$text-color-1: white;
$text-color-2: #92929D;
$line-color: #292932;
$border-radius: 20px;
$mobile: 600px;
$tablet: 950px;

.home-page-container {
  background-color: $bg-color-1;
  color: $text-color-1;
  text-align: left;
  padding: 4.5em 1.5em 2em;
  margin: 0 0 0 15em;

  h1 {
    font-size: 1em;
    font-weight: bold;
    margin: 0 0 1em;
  }

  .home-container {
    margin: 0;
    display: flex;

    p {
      font-size: .5em;
    }

    .video-container {
      width: 100%;
      display: grid;
      grid-gap: 1em;
      grid-template-columns: repeat(auto-fill, 20em);
    }

    .suggested-channels-container-1 {
      width: 35%;
      background-color: $bg-color-2;
      border-radius: $border-radius;
      height: 252px;

      .header-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-left: 1em;
        margin-right: 1em;

        h2 {
          font-size: .75em;
        }

        h3 {
          color: $text-color-2;
          font-size: .5em;
          text-transform: uppercase;

          &:hover {
            color: $text-color-1;
            cursor: pointer;
          }
        }

        .ellipsis {
          display: flex;

          &:hover {
            cursor: pointer;

            .dot {
              background-color: $text-color-1;
            }
          }

          .dot {
            background-color: $text-color-2;
            width: 3px;
            height: 3px;
            margin: .10em;
            border-radius: 50%
          }
        }
      }

      .line {
        background-color: $line-color;
        height: .5px;
        width: 100%;
        margin-bottom: .75em;
      }

      .suggested-channel-container {
        display: flex;
        align-items: center;
        margin: 0 1em .5em;

        .suggested-channel-avatar-container {
          overflow: hidden;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
          height: 1.67em;
          width: 1.67em;
          border-radius: 50%;
          align-content: start;
        }

        h5 {
          margin: 0 0 0 1em;
          font-weight: normal;
          font-size: .75em;
        }
      }

      .suggested-channel-button {
        height: 2em;
        display: flex;
        background-color: $bg-color-3;
        border-bottom-left-radius: $border-radius;
        border-bottom-right-radius: $border-radius;

        p {
          font-weight: bold;
          text-transform: uppercase;
          margin: auto;
          magin-top: .25em;
          magin-bottom: .25em;
        }

        &:hover {
          background-color: $bg-color-4;
          cursor: pointer;
        }
      }

      .suggested-channels-container-2 {
        background-color: $bg-color-2;
        border-radius: $border-radius;
        margin-top: 1em;
        height: 252px;

        .suggested-channels-container-3 {
          margin: .5em;

          .suggested-channels-container-4 {
            display: flex;

            .suggested-channel-avatar-container-2 {
              overflow: hidden;
              background-size: cover;
              background-repeat: no-repeat;
              background-position: center;
              height: 2em;
              width: 2em;
              border-radius: 50%;
              align-content: start;
              margin-right: .5em;
            }

            .info-container {
              margin-top: auto;
              margin-bottom: auto;
            }

            h5 {
              font-size: .65em;
              margin: 0;
            }

            h6 {
              font-size: .5em;
              color: $text-color-2;
              margin: .5em 0 0;
            }
          }

          .suggested-channel-image-container {
            overflow: hidden;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            height: 7.7em;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            align-content: start;
            margin-top: .5em;
          }

          .add-channel-button {
            display: flex;
            border-bottom: 1px solid $line-color;
            border-left: 1px solid $line-color;
            border-right: 1px solid $line-color;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            padding: .25em;
            color: $text-color-2;

            .icon-user {
              font-size: .85em;
            }

            .icon-plus {
              font-size: .4em;
            }

            p {
              text-align: center;
            }

            &:hover {
              color: $text-color-1;
              cursor: pointer;
              background-color: $bg-color-4;
              border: none;
            }
          }
        }
      }
    }
  }
}

/*************** MOBILE ****************/
@media only screen and (max-width: $mobile) {
  .home-page-container {
    margin: 0;
  }
}

/*************** TABLET ****************/
@media only screen and (max-width: $tablet) {
  .home-page-container {

    .home-container {
      display: flex;
      flex-direction: column;

      .video-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
      }

      .suggested-channels-container-1 {
        margin-top: 1em;
        width: 100%;

        .suggested-channels-container-2 {
          height: 16.65em;
        }
      }
    }
  }
}
