/******* DEFINITIONS PAGE STYLE *******/

$bg-color-1: #1C1C24;
$bg-color-2: #1e5cc3;
$bg-color-3: #5493ff;
$text-color-1: white;
$text-color-2: #92929D;
$line-color: #292932;
$border-radius: 20px;

.definitions-card-container {
  background-color: $bg-color-1;
  border-radius: $border-radius;
  padding: 1em;

  &:not(:last-child) {
    margin: 0 0 1em;
  }

  .header-container {
    display: flex;
    justify-content: space-between;

    h3 {
      font-size: .85em;
      margin: 0;
    }

    .icon {
      color: $text-color-2;

      &:hover {
        color: $text-color-1;
        cursor: pointer;
      }
    }
  }

  h4, a {
    font-size: .75em;
    margin: auto 0;
    font-weight: lighter;
  }

  a {
    color: $bg-color-2;
    text-decoration: none;
    font-weight: bolder;
    margin: 0 0 0 1em;

    &:hover {
      color: $bg-color-3;
    }
  }

  p {
    font-size: .75em;
    font-weight: lighter;
  }

  .data-container {
    display: flex;
    align-items: center;

    &:not(:last-child) {
      margin: 1em 0;
    }

    .data-type {
      display: flex;
      width: 8em;
      height: 3em;
      align-items: center;
    }

    .user-data {
      font-weight: bolder;
      margin-left: 1em;
    }
  }

  .line {
    display: flex;
    background-color: $line-color;
    height: 1px;
    width: 100%;
    margin: .5em 0 .75em;
  }

  /** Switch **/
  .switch-container {
    display: flex;
    margin-left: 1em;

    // Box around the slider
    .switch {
      position: relative;
      display: inline-block;
      width: 60px;
      height: 24px;

      // Hide default HTML checkbox
      input {
        opacity: 0;
        width: 0;
        height: 0;
      }

      // Slider
      .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $text-color-2;
        -webkit-transition: .4s;
        transition: .4s;

        &:before {
          position: absolute;
          content: "";
          height: 16.5px;
          width: 16.5px;
          left: 4px;
          bottom: 4px;
          background-color: $text-color-1;
          -webkit-transition: .4s;
          transition: .4s;
        }
      }

      input:checked + .slider {
        background-color: $bg-color-2;
      }

      input:focus + .slider {
        box-shadow: 0 0 1px $bg-color-2;
      }

      input:checked + .slider:before {
        -webkit-transform: translateX(34px);
        -ms-transform: translateX(34px);
        transform: translateX(34px);
      }

      // Rounded sliders
      .slider.round {
        border-radius: 34px;
      }

      .slider.round:before {
        border-radius: 50%;
      }
    }
  }
}