/******* SUBSCRIPTIONS PAGE *******/

// Variables:
$bg-color: #13131A;
$text-color: white;
$mobile: 600px;

.subscriptions-page-container {
  background-color: $bg-color;
  color: $text-color;
  text-align: left;
  padding: 4.5em 1.5em 2em;
  margin: 0 0 0 15em;
  display: flex;
  flex-direction: column;

  h1 {
    font-size: 1em;
    font-weight: bold;
    margin: 0 0 1em;
  }
}

/*************** MOBILE ****************/
@media only screen and (max-width: $mobile) {
  .subscriptions-page-container {
    margin: 0;
  }
}

