/******* STYLE FOR CARD PLAYLIST/VIDEO *******/
$text-color-1: white;
$text-color-2: #1e5cc3;
$text-color-3: #92929D;
$text-color-4: #92929D;
$border-radius-1: 5px;
$line-color: #292932;
$bg-color-1: #1C1C24;
$bg-color-2: #1e5cc3;
$bg-color-3: #5493ff;
$line-color: #292932;
$border-radius: 20px;

.video-card-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
  cursor: default;

  video {
    width: 100%;
    //height: 25em;
    margin: auto;
  }
/*
  .react-player {
    width: 100%;
    //height: 25em;
    margin: auto;
  }
  */

  .tags-container {
    display: flex;
    color: $text-color-2;
    font-weight: bold;

    .tag {
      margin: 1em .5em 0 0;
      font-size: .65em;
    }
  }

  .title-container {
    color: $text-color-1;
    font-size: small;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: .6rem 0 1rem 0;

    h3 {
      margin: 0;
      text-align: left;
    }
    .videocard-fa-report-flag:hover {
      color: #be0000;
    }

    .videocard-report-container {
      h1 {
        font-size: large;
        margin: 1rem 0 2rem 0;
      }
      h4 {
        font-size: small;
        margin: 1rem 0 2rem 0;
      }

      .report-data-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding-right: .8rem;
        //background-color: blue;

        &:not(:last-child) {
          //margin: 1em 0;
        }

        .data-type {
          display: flex;
          flex-direction: row;
          font-size: small;
          width: 12rem;
          height: 2em;
          align-items: center;
          //background-color: black;
          padding: 0;
          margin: .6rem;
        }

        .user-data {
          font-weight: bolder;
          margin-left: 1em;
        }
      }
      /** Switch **/
      .videocard-switch-container {
        display: flex;
        margin-left: 1em;

        // Box around the slider
        .switch {
          position: relative;
          display: inline-block;
          width: 60px;
          height: 24px;

          // Hide default HTML checkbox
          input {
            opacity: 0;
            width: 0;
            height: 0;
          }

          // Slider
          .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: $text-color-4;
            -webkit-transition: .3s;
            transition: .3s;

            &:before {
              position: absolute;
              content: "";
              height: 16.5px;
              width: 16.5px;
              left: 4px;
              bottom: 4px;
              background-color: $text-color-1;
              -webkit-transition: .3s;
              transition: .3s;
            }
          }

          input:checked + .slider {
            background-color: $bg-color-2;
          }

          input:focus + .slider {
            box-shadow: 0 0 1px $bg-color-2;
          }

          input:checked + .slider:before {
            -webkit-transform: translateX(34px);
            -ms-transform: translateX(34px);
            transform: translateX(34px);
          }

          // Rounded sliders
          .slider.round {
            border-radius: 34px;
          }

          .slider.round:before {
            border-radius: 50%;
          }
        }
      }
      .videopage-report-submit {
        background-color: $bg-color-2;
        text-align: center;
        color: white;
        width: 6rem;
        height: 2rem;
        font-weight: bold;
        margin: 1.1rem 0 .5rem 0;
        border-radius: 1rem;
        border: $line-color solid 1px;
      }
    }
  }

  .info-container {
    margin-top: .5em;
    display: flex;
    flex-direction: row;

    .avatar-container {
      overflow: hidden;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      height: 3em;
      width: 3em;
      border-radius: 50%;
      border: solid white 2px;
      margin: 0 1em 0 0;
    }

    .channel-container-1 {
      display: flex;
      flex-direction: column;

      // h3 é agora o botão de subscription:
      h3 {
        color: $text-color-1;
        font-size: .65em;
        font-weight: bold;
        text-align: left;
      }

      p {
        color: $text-color-3;
        font-size: .65em;
        font-weight: bold;
        text-align: left;
      }

      .channel-container-2 {
        display: flex;
        align-items: center;

        .channel {
          color: $text-color-1;
          margin: 0 .5em 0 0;
        }

        .subscription-button {
          //padding: .25em;
          font-size: .65em;
          margin-left: .5rem;
          background-color: $bg-color-2;
          color: $text-color-1;
          border-radius: 2rem;
          border: $line-color solid 1px;
          height: 1.5rem;
          width: auto;
          &.unsubscribe {

          }

          button {
            //color: $text-color-1;
            font-weight: bold;
            text-align: left;
            margin: 0;
            //border-radius: $border-radius-1;
            //border: $line-color solid 1px;
            //font-weight: lighter;
          }

        }
      }
    }

    .reactions-container {
      display: flex;
      color: $text-color-3;
      align-items: center;
      margin-left: auto;
      margin-right: 0;
      font-size: .85em;

      p {
        margin-right: .5em;
      }

      svg {
        margin-left: .5em;
        margin-right: .5em;
      }
      .videocard-fa-reactions-dislike-exists-icon {
        //color: $text-color-2;
        color: $text-color-2;
      }
      .videocard-fa-reactions-like-exists-icon {
        //color: $text-color-2;
        color: $text-color-2;
      }

      .videocard-fa-reactions-like-icon:hover {
        color: $text-color-2;
        cursor: pointer;
      }
      .videocard-fa-reactions-dislike-icon:hover {
        color: $text-color-2;
        cursor: pointer;
      }
    }
  }
}